

body{
   margin:0;
 }
a {color:white; text-decoration: none; list-style: none;}
ul{
 padding-left:0px;
 list-style: none;}


h1 {
  text-align: center;

  margin:0;
  padding:20px;
  }
p {
  text-align: center;
}

  #jb-container{
        width: 1300px;
        margin: 0px auto;
        padding: 20px;
        border: 1px solid #bcbcbc;
        background-color:#406285;
  }
  #jb-header {
       padding: 20px;
       margin-bottom: 40px;
       border: 1px solid #bcbcbc;
       background-color:white;
     }
  #jb-content {
       width: 930px;
       padding: 20px;
       margin-bottom: 20px;
       float: left;
       background-color:white;
        }
  #jb-sidebar {
       width: 260px;
       padding: 20px;
       margin-bottom: 20px;
       float: right;
       background-color:#2a3e57;
       color:white;}

  #jb-footer {
       clear: both;
       padding: 20px;
       border: 1px solid #bcbcbc;
     }


  @media(max-width:800px){

    ul{
      border-right:none;}
    h1 {
    border-bottom:none;}
  }
