

body{
   margin:0;
 }
a {color:white; text-decoration: none; list-style: none;}
ul{
 padding-left:0px;
 list-style: none;}


h1 {
  text-align: center;

  margin:0;
  padding:20px;
  }
p {
  text-align: center;
}

@font-face{ font-family:ng; src:url(NanumGothic.eot); src:local(※), url(NanumGothic.woff) format(‘woff’) }

body{font-family:'나눔고딕', 'NanumGothic', ng}

#보라패널, #보라플립 {
  padding: 5px;
  text-align: left;

}

#보라패널 {
  padding: 5px;
  display: none;
}

#진우패널, #진우플립 {
  padding: 5px;
  text-align: left;

}

#진우패널 {
  padding: 5px;
  display: none;
}


  #grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  padding-left:100px;
  padding-right:100px;

}

#jb-container{
        width: 1300px;
        margin: auto;
        padding: 20px;
        border: 1px solid #bcbcbc;

  }
  #jb-header {
       padding: 20px;
       margin-bottom: 40px;

       background-color:white;
     }
  #jb-content {
       width: 930px;
       padding: 20px;
       margin-bottom: 20px;
       float: left;
       background-color:white;
        }
  #jb-sidebar {
       width: 260px;
       padding: 20px;
       margin-bottom: 20px;
       float: right;
       background-color:#2a3e57;
       color:white;}

  #jb-footer {
       clear: both;
       padding: 20px;
       border: 1px solid #bcbcbc;
     }


  @media(max-width:800px){

    ul{
      border-right:none;}
    h1 {
    border-bottom:none;}
  }
